body{
  font-size: 26rpx;
  line-height: 1.8;
  color: #555;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: center;
  .item{
    flex: 1;
  }
}
.tac{
  text-align: center;
}
.tar{
  text-align: right;
}
.tal{
  text-align: left;
}
.main-color{
  color: #FF4C3E;
}
.margin-15{
  margin: 20rpx;
}
.marginVer-15{
  margin: 20rpx auto;
}
.marginHer-15{
  margin: 0 20rpx;
}
.padding-15{
  padding: 20rpx;
}
.paddingVer-15{
  padding: 20rpx 0;
}
.paddingHer-15{
  padding: 0 20rpx;
}
.bdb{
  border-bottom: 1px solid #f5f5f5;
}
.color-333{
  color: #333;
}
.color-666{
  color: #666;
}
.color-999{
  color: #999;
}
.omg{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
